src/scanner/static/xsd/recipe.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="recipe">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element type="xs:string" name="quarantine"/>
        <xs:element type="xs:string" name="delete"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>